<p id="notice"><%= notice %></p>

<h1>Autorzy</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th colspan="3">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @autors.each do |autor| %>
      <tr>
        <td><%= autor.imie %></td>
        <td><%= autor.nazwisko %></td>
        <td><%= link_to 'Pokaż', autor %></td>
        <td><%= link_to 'Edytuj', edit_autor_path(autor) %></td>
        <td><%= link_to 'Usuń', autor, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Autora', new_autor_path %>
