<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @autor.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @autor.nazwisko %>
</p>

<%= link_to 'Edytuj', edit_autor_path(@autor) %> |
<%= link_to 'Wróć', autors_path %> |
<%= link_to 'Dodaj Autora', new_autor_path %>
