<p id="notice"><%= notice %></p>

<h1>Pracownicy</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Stanowisko</th>
      <th>Data urodzenia</th>
      <th>Login</th>
      <th>Haslo</th>
      <th colspan="3">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.login %></td>
        <td><%= employee.haslo %></td>
        <td><%= employee.data_urodzenia %></td>
        <td><%= employee.imie %></td>
        <td><%= employee.nazwisko %></td>
        <td><%= employee.stanowisko %></td>
        <td><%= link_to 'Pokaż', employee %></td>
        <td><%= link_to 'Edytuj', edit_employee_path(employee) %></td>
        <td><%= link_to 'Usuń', employee, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Pracownika', new_employee_path %>
