<p id="notice"><%= notice %></p>

<h1>Czytelnicy</h1>

<div class='show_data'>
  <%= link_to 'Wszyscy', :all_readers, class: 'nav'%>
  <%= link_to 'Ranking', :best_readers, class: 'out_of'%>
</div>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Wypożyczenia</th>
      <th>Liczba wypożyczeń</th>
    </tr>
  </thead>

  <tbody>
    <% @readers.each do |reader| %>
      <tr>
        <td><%= reader.imie %></td>
        <td><%= reader.nazwisko %></td>
        <td><%= reader.telefon %></td>
        <td><%= reader.email %></td>
        <td><%= link_to 'Wypożyczenia', admin_readers_rents_path(reader), class: 'ref_table' %></td>
        <td><%= reader.rents_sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Czytelnika', new_reader_path %>
