<p id="notice"><%= notice %></p>

<h1>Czytelnicy</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Telefon</th>
      <th>Data urodzenia</th>
      <th>Email</th>
      <th colspan="3">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @readers.each do |reader| %>
      <tr>
        <td><%= reader.imie %></td>
        <td><%= reader.nazwisko %></td>
        <td><%= reader.telefon %></td>
        <td><%= reader.data_urodzenia %></td>
        <td><%= reader.email %></td>
        <td><%= link_to 'Pokaż', reader %></td>
        <td><%= link_to 'Edytuj', edit_reader_path(reader) %></td>
        <td><%= link_to 'Usuń', reader, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Czytelnika', new_reader_path %>
