<p id="notice"><%= notice %></p>

<h1>Moje wypożyczenia <%= "(#{@rents.count})" %></h1>

<table>
  <thead>
    <tr>
      <th>Książka</th>
      <th>Data wypozyczenia</th>
      <th>Pracownik wypożyczający</th>
      <th>Planowana data oddania</th>
      <th >Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= link_to rent.book.tytul, rent.book, class: 'ref_table'%></td>
        <td><%= rent.data_wypozyczenia %></td>
        <td><%= link_to rent.employee_rent.name, rent.employee_rent, class: 'ref_table' %></td>
        <td><%= rent.planowana_data_oddania %></td>
        <td><%= link_to 'Przedłuż', rent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
