<p id="notice"><%= notice %></p>

<h1>Wypożyczenia po terminie <%= "(#{@rents.count})" %></h1>

<div class='show_data'>
  <%= link_to 'Wszystkie', :readers_rents_all, class: 'nav' %>
  <%= link_to 'Bierzące',  :readers_rents_active, class: 'nav' %>
  <%= link_to 'Po czasie', :readers_rents_out_of_term, class: 'out_of' %>
  <%= link_to 'Oddane', :readers_rents_inactive, class: 'nav' %>
</div>

<table>
  <thead>
    <tr>
      <th>Książka</th>
      <th>Data wypozyczenia</th>
      <th>Pracownik wypożyczający</th>
      <th>Planowana data oddania</th>
      <th>Status</th>
      <th >Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= link_to rent.book.tytul, rent.book, class: 'ref_table'%></td>
        <td><%= rent.data_wypozyczenia %></td>
        <td><%= employee_rent(rent) %></td>
        <td><%= rent.planowana_data_oddania %></td>
        <td><%= book_status(rent) %></td>
        <td><%= link_to 'Przedłuż', prelongate_path(rent), method: "post" %></td>
      </tr>
    <% end %>
  </tbody>
</table>