<p id="notice"><%= notice %></p>

<h1>Moje wypożyczenia <%= "(#{@rents.count})" %></h1>

<table>
  <thead>
    <tr>
      <th>Książka</th>
      <th>Data wypozyczenia</th>
      <th>Pracownik wypożyczający</th>
      <th>Planowana data oddania</th>
      <th>Status</th>
      <th >Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= link_to rent.book.tytul, rent.book, class: 'ref_table'%></td>
        <td><%= rent.data_wypozyczenia %></td>
        <td><%= link_to employee_rent(rent), rent.employee_rent, class: 'ref_table' %></td>
        <td><%= rent.planowana_data_oddania %></td>
        <td><%= book_status(rent) %></td>
        <td><%= link_to 'Przedłuż', prelongate_path(rent), method: "post" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
