<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @reader.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @reader.nazwisko %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @reader.telefon %>
</p>

<p>
  <strong>Data urodzenia:</strong>
  <%= @reader.data_urodzenia %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reader.email %>
</p>

<p>
  <strong>Haslo:</strong>
  <%= @reader.haslo %>
</p>

<%= link_to 'Edytuj', edit_reader_path(@reader) %> |
<%= link_to 'Wróć', readers_path %> |
<%= link_to 'Dodaj Czytelnika', new_reader_path %>
