<p id="notice"><%= notice %></p>

<h1>Wypożyczenia</h1>

<table>
  <thead>
    <tr>
      <th>Książka</th>
      <th>Czytelnik</th>
      <th>Data wypozyczenia</th>
      <th>Pracownik wypożyczający</th>
      <th>Planowana data oddania</th>
      <th colspan="3">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= link_to rent.book.tytul, rent.book, class: 'ref_table'%></td>
        <td><%= link_to rent.reader.name, rent.reader, class: 'ref_table' %></td>
        <td><%= link_to rent.employee_rent.name, rent.employee_rent, class: 'ref_table' %></td>
        <td><%= rent.data_wypozyczenia %></td>
        <td><%= rent.planowana_data_oddania %></td>
        <td><%= link_to 'Pokaż', rent %></td>
        <td><%= link_to 'Edytuj', edit_rent_path(rent) %></td>
        <td><%= link_to 'Usuń', rent, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Wypożyczenie', new_rent_path %>
