<p id="notice"><%= notice %></p>

<p>
  <strong>Planowana data oddania:</strong>
  <%= @rent.planowana_data_oddania %>
</p>

<p>
  <strong>Data wypozyczenia:</strong>
  <%= @rent.data_wypozyczenia %>
</p>

<p>
  <strong>Data oddania:</strong>
  <%= @rent.data_oddania %>
</p>

<%= link_to 'Edytuj', edit_rent_path(@rent) %> |
<%= link_to 'Wróć', rents_path %> |
<%= link_to 'Dodaj Wyporzyczenie', new_rent_path %>
