<p id="notice"><%= notice %></p>

<h1>Wydawnictwa</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Książki Wydawnictwa</th>
      <th colspan="2">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.nazwa %></td>
        <td><%= link_to 'Pokaż książki', publisher_books_path(publisher) %></td>
        <td><%= link_to 'Edytuj', edit_publisher_path(publisher) %></td>
        <td><%= link_to 'Usuń', publisher, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Wydawnictwo', new_publisher_path unless current_user.reader? %>
