<p id="notice"><%= notice %></p>
<%= render 'new_home' if current_user.nil? %>
<%= render 'admin_home' if current_user&.admin? %>
<%= render 'reader_home' if current_user&.reader? %>
<%= render 'employee_home' if current_user&.employee? %>