<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tytul %>
    <%= form.text_field :tytul %>
  </div>

  <div class="field">
    <%= form.label :autor_id %>
    <%= form.select :autor_id, options_for_select(select_autor) %>
  </div>

  <div class="field">
    <%= form.label 'Kategoria' %>
    <%= form.select :category_id, options_for_select(select_category) %>
  </div>

  <div class="field">
    <%= form.label 'Wydawnictwo' %>
    <%= form.select :publisher_id, options_for_select(select_publisher) %>
  </div>


  <div class="field">
    <%= form.label :rok_wydania %>
    <%= form.date_select :rok_wydania %>
  </div>

  <div class="field">
    <%= form.label :opis %>
    <%= form.text_area :opis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
