<div class='show_data'>
  <%=link_to 'Wszystkie' , :all_books       , class: 'nav' %>
  <%=link_to 'Dostępne' , :available_books       , class: 'nav' %>
  <%=link_to 'Wypożyczone' , :rented_books       , class: 'out_of' %>
  <%=link_to 'Najpopularniejsze' , :popular_books       , class: 'nav' %>
  <%= link_to 'Dodaj Książkę', new_book_path unless current_user.reader? %>
</div>


<table>
  <thead>
    <tr>
      <th>Tytul</th>
      <th>Autor</th>
      <th>Rok wydania</th>
      <th>Wydawnictwo</th>
      <th>Opis</th>
      <th>Status</th>
      <th>Liczba wypożyczeń</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.tytul %></td>
        <td><%= link_to book.autor.name, book.autor, class: 'ref_table' %></td>
        <td><%= book.rok_wydania.year %></td>
        <td><%= link_to book.publisher.nazwa, book.publisher, class: 'ref_table' %></td>
        <td><%= book.opis %></td>
        <td><%= book.status %></td>
        <td><%= book.rents.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>