<div class='show_data'>
  <%=link_to 'Wszystkie' , :all_books       , class: 'nav' %>
  <%=link_to 'Dostępne' , :available_books       , class: 'nav' %>
  <%=link_to 'Wypożyczone' , :rented_books       , class: 'out_of' %>
  <%=link_to 'Najpopularniejsze' , :popular_books       , class: 'nav' %>
  <%= link_to 'Dodaj Książkę', new_book_path unless current_user.reader? %>
</div>


<table>
  <thead>
    <tr>
      <th>Tytul</th>
      <th>Autor</th>
      <th>Rok wydania</th>
      <th>Wydawnictwo</th>
      <th>Kategoria</th>
      <th>Opis</th>
      <% if current_user.reader?%>
        <th colspan="1">Akcje</th>
      <% else %>
        <th>Status</th>
        <th colspan="2">Akcje</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.tytul %></td>
        <td><%= link_to book.autor.name, autor_books_path(book.autor), class: 'ref_table' %></td>
        <td><%= book.rok_wydania.year %></td>
        <td><%= link_to book.publisher.nazwa, publisher_books_path(book.publisher), class: 'ref_table' %></td>
        <td><%= link_to book.category.nazwa, category_books_path(book.category), class: 'ref_table' %></td>
        <td><%= book.opis %></td>
        <% if current_user.reader?%>

          <% if book.available? %>
            <td><%= link_to 'Wypożycz', rent_book_path(book), method: :post %></td>
          <% else %>
            <td><%= link_to 'Wypożyczona', '#', class: 'disabled', onclick: 'return false', title: "Planowana data oddania: #{book.rents.active.first&.planowana_data_oddania}" %></td>
          <%end%>
          
        <% else %>

          <td><%= book.status %></td>
          <td><%= link_to 'Edytuj', edit_book_path(book) %></td>
          <td><%= link_to 'Usuń', book, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>