<p id="notice"><%= notice %></p>

<h1>Książki</h1>

<table>
  <thead>
    <tr>
      <th>Tytul</th>
      <th>Autor</th>
      <th>Rok wydania</th>
      <th>Wydawnictwo</th>
      <th>Opis</th>
      <% if current_user.reader?%>
        <th colspan="2">Akcje</th>
      <% else %>
        <th>Status</th>
        <th colspan="3">Akcje</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.tytul %></td>
        <td><%= link_to book.autor.name, book.autor, class: 'ref_table' %></td>
        <td><%= book.rok_wydania.year %></td>
        <td><%= link_to book.publisher.nazwa, book.publisher, class: 'ref_table' %></td>
        <td><%= book.opis %></td>
        <% if current_user.reader?%>

          <% if book.available? %>
            <td><%= link_to 'Wypożycz', rent_book_path(book), method: :post %></td>
          <% else %>
            <td><%= link_to 'Wypożyczona', '#', class: 'disabled', onclick: 'return false', title: "Planowana data oddania: #{book.rents.active.first&.planowana_data_oddania}" %></td>
          <%end%>
          
        <% else %>

          <td><%= book.status %></td>
          <td><%= link_to 'Pokaż', book %></td>
          <td><%= link_to 'Edytuj', edit_book_path(book) %></td>
          <td><%= link_to 'Usuń', book, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Książkę', new_book_path unless current_user.reader? %>
