<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @role.nazwa %>
</p>

<p>
  <strong>Wyplata:</strong>
  <%= @role.wyplata %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
