<p id="notice"><%= notice %></p>

<h1>Kategorie książek</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Książki danej kategorii</th>
      <th colspan="2">Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.nazwa %></td>
        <td><%= link_to 'Pokaż książki', category_books_path(category) %></td>
        <td><%= link_to 'Edytuj', edit_category_path(category) %></td>
        <td><%= link_to 'Usuń', category, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Kategorię', new_category_path unless current_user.reader?%>
