<nav style='text-align: center'>
  <%=link_to 'Strona główna', :root        , class: 'home_button' %>
  <%=link_to 'Czytelnicy'   , :readers     , class: 'nav' %>
  <%=link_to 'Wypożyczenia' , :rents       , class: 'nav' %>
  <%=link_to 'Książki'      , :books       , class: 'nav' %>
  <%=link_to 'Autorzy'      , :autors      , class: 'nav' %>
  <%=link_to 'Kategorie'    , :categories  , class: 'nav' %>
  <%=link_to 'Wydawnictwa'  , :publishers  , class: 'nav' %>
  <%=link_to 'Stanowiska'   , :roles       , class: 'nav' %>
  <%=link_to 'Pracownicy'   , :employees   , class: 'nav' %>
  <%=link_to 'Kary'         , :punishments , class: 'nav' %>
  <%=link_to 'Wyloguj'      , :log_out , class: 'log_out', method: :post %>
</nav>