<nav style='text-align: center'>
  <%=link_to 'Czytelnicy' , :readers %>
  <%=link_to 'Wypożyczenia' , :rents %>
  <%=link_to 'Książki' , :books %>
  <%=link_to 'Autorzy' , :autors %>
  <%=link_to 'Kategorie' , :categories %>
  <%=link_to 'Wydawnictwa' , :publishers %>
  <%=link_to 'Stanowiska' , :roles %>
  <%=link_to 'Pracownicy' , :employees %>
  <%=link_to 'Kary' , :punishments %>
</nav>