<nav style='text-align: center'>
  <%=link_to 'Storna główna', :root        , class: 'home_button' %>
  <%=link_to 'Moje wypożyczenia' , :readers_rents_all       , class: 'nav' %>
  <%=link_to 'Nasze książki'      , :books       , class: 'nav' %>
  <%=link_to 'Autorzy'      , :autors      , class: 'nav' %>
  <%=link_to 'Kategorie'    , :categories  , class: 'nav' %>
  <%=link_to 'Wydawnictwa'  , :publishers  , class: 'nav' %>
  <%=link_to 'Kary'         , :readers_punishments , class: 'nav' %>
  <%=link_to 'Wyloguj'      , :log_out     , class: 'log_out', method: :post %>
</nav>